


body{
    margin: 0;
}
.navbar-parent{
     display: grid;
     grid-template-columns: 60% 40%;
     height: 30px;
     background-color: #e5e5e5 ;
     position: fixed;
     width: 100%;
}
.menu{
   word-spacing: 10px;
    padding-top: 9px;      
}
a{
 text-decoration: none;
    padding: 1px; 
}
.img-1{
    padding-left: 30px;
    
}
.main-body{
    background:url(https://images.unsplash.com/photo-1497412159286-98933a0e327f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=835&q=80);
    background-repeat: no-repeat;
    background-size:cover ;
    padding-top: 10px;
    height: 75vh;
     padding: none;
    
}
.btn{
    margin-top: 20px;
    padding: 10px;
    padding-top: 7px;

}
p{
    margin: 0;
    position: relative;
    bottom: 13px;
    font-family:   'sans-serif';
}
.container1{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.sub-text{
    margin-bottom: 25px;
}
.section2{
    height: 150px;
    padding: 10px;
}
.href-styling{
    color:black;
    position: relative; 
    top: 2px;
}
h4{
    font-family: 'poppins';
}
h2{
    font-family: 'poppins';
    font-size: 20px;
}
.container2{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 200px;
    height: 75vh;
    background-color:#e5e5e5;
    padding:30px;
    animation-name: bounce;
    animation-duration: 5s;
    animation-direction: alternate;
}
.Item4-parent{
    display: grid;
 grid-template-columns: 1fr 1fr; 
 
}
.parent-container{
    display: grid;
    grid-template-columns:80% 20%;

}
.div-form{
    border: 2px solid white;
    background-color: white;
    margin-top: 20px  ;
    padding: 50px 20px;
    margin-left: 10px;
    box-shadow: 0px 0px 6px 2px rgb(0,0,0,0.1);
}
.input{
    width: 300px;
    margin-top: 15px;
    margin-left: 45px;
    height: 30px;
    text-align: center;
    font-style: italic;
}
.center{
    text-align: center;
    padding: 2px;
    
}
.footer{
    display: grid;
    grid-template-columns: 20% 80%;
    position: relative;
    bottom: 1px;
    height: 65vh;
    
    
}
.footer-flex{
    display: flex;
    justify-content: space-around;
   position: relative;
   right: 30px;

}
.Get-Started{
    font-size: 35px;
}
.first-one{
   position: relative;
   top: 250px;
   padding-left: 0px;
}
.design{
    color: #000;
    padding-left:  6px;
}
 .design:hover{
cursor: pointer;
color: brown;
border-bottom: 5px solid red;
border-bottom-width: 100%;


}
.text-4{
  
}
.button2{
    background-color: black;
    border:1px black transparent;
    color: white;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    padding-left:10px;
    padding-top: 15px;
    text-align: center;
    margin-top: 13px;
}
.img-2{
    padding-left: 0px;
}
.one{
    text-decoration: underline;
}
img{
    padding-right: 4px;
}
.checkbox-parent{
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 10px;  
}
@media screen and  (max-width: 760px){
.container1{
    display: flex;
    flex-direction: column;
    height: 75vh;
    margin-top: auto;
}
.container2{
    margin-top: 15px;
}
}
    
